html,
body {
  height: 100%;
}


body {
  font-size: 16px;
  color: $default-color;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  @extend %quicksand-500;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  color: $default-color;
  line-height: 26px;
  font-weight: 500;
}